@page "/Hello"

<h3>Hello World</h3>
<br />
@if (!String.IsNullOrEmpty(Name) && !String.IsNullOrEmpty(City))
{
    <p class="alert-danger">Hello @Name from @City!</p>
}

<label>
    Name: <br />
    <input type="text" @bind="Name" @bind:event="oninput" />
</label>
<br />
<label>
    City: <br />
    <select @bind="City">
        <option value="Portland" selected>Portland</option>
        <option value="Seattle">Seattle</option>
        <option value="Phoenix">Phoenix</option>
        <option value="Denver">Denver</option>
        <option value="Dallas">Dallas</option>
        <option value="Nashville">Nashville</option>
    </select>
</label>


@code {
    public string? Name { get; set; }
    public string? City { get; set; } = "Portland";
}
